*{
	margin:0;
	padding: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
li{
	list-style: none;
}
button{
	cursor: pointer;
}
.text-c{
	text-align: center;
}
.cancel {
	height: 30px;
	text-align: center;
	line-height: 30px;
	border: 0;
	background: #ddd !important;
	outline: none;
	color: #fff;
	padding:0 10px;
}